---
import Calendar from './icons/calendar.svg'

const { url, title, description, pubDate } = Astro.props
---

<a
  href={url}
  class="rounded-base border-border text-text shadow-light bg-main border-2 p-4 transition-all last:mb-0 hover:translate-x-1 hover:translate-y-0.5 hover:shadow-none"
>
  <h2 class="font-heading w500:text-lg text-xl" transition:name={title}>
    {title}
  </h2>
  <p class="w500:text-sm mt-3 mb-5">
    {description}
  </p>
  <div class="flex w-max items-center">
    <Calendar />
    <p class="w500:text-xs text-sm leading-5 tracking-wide">
      {pubDate}
    </p>
  </div>
</a>
