---
import { getCollection, render } from 'astro:content'
import { Image } from 'astro:assets'

import Layout from '@/layouts/base.astro'

// Import icons
import regionIcon from '@/assets/icons/region.png'
import distanceIcon from '@/assets/icons/distance.png'
import elevationIcon from '@/assets/icons/elevation.png'
import loopIcon from '@/assets/icons/loop.png'
import outBackIcon from '@/assets/icons/out-back.png'
import gpxIcon from '@/assets/icons/gpx.png'

export async function getStaticPaths() {
  const blogEntries = await getCollection('trails')

  return blogEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await render(entry)

const ICON_WIDTH = 36
const ICON_HEIGHT = ICON_WIDTH
const ICON_DENSITIES = [1, 2, 3]
const ICON_CLASS = 'not-prose object-contain'
---

<Layout meta={{ title: entry.data.title }}>
  <h2>
    {entry.data.title}
  </h2>
  <div class="my-10 space-y-4 md:grid md:grid-cols-2 md:gap-4 md:space-y-1">
    <div class="flex items-center gap-2">
      <Image
        src={regionIcon}
        width={ICON_WIDTH}
        height={ICON_HEIGHT}
        densities={ICON_DENSITIES}
        class={ICON_CLASS}
        alt="Region"
      />
      <span class="font-bold">Region:</span>
      {entry.data.region}
    </div>
    <div class="flex items-center gap-2">
      <Image
        src={entry.data.type === 'Loop' ? loopIcon : outBackIcon}
        alt="Trail Type"
        width={ICON_WIDTH}
        height={ICON_HEIGHT}
        densities={ICON_DENSITIES}
        class={ICON_CLASS}
      />
      <span class="font-bold">Type:</span>
      {entry.data.type}
    </div>
    <div class="flex items-center gap-2">
      <Image
        src={distanceIcon}
        alt="Distance"
        width={ICON_WIDTH}
        height={ICON_HEIGHT}
        densities={ICON_DENSITIES}
        class={ICON_CLASS}
      />
      <span class="font-bold">Distance:</span>
      {entry.data.distanceKm}km
    </div>
    {
      entry.data.gpxFile && (
        <div class="flex items-center gap-2">
          <Image
            src={gpxIcon}
            alt="GPX File"
            width={ICON_WIDTH}
            height={ICON_HEIGHT}
            densities={ICON_DENSITIES}
            class={ICON_CLASS}
          />
          <span class="font-bold">GPX File:</span>{' '}
          <a href={entry.data.gpxFile} class="text-blue-600 hover:underline">
            Download GPX
          </a>
        </div>
      )
    }
    <div class="flex items-center gap-2">
      <Image
        src={elevationIcon}
        alt="Elevation"
        width={ICON_WIDTH}
        height={ICON_HEIGHT}
        densities={ICON_DENSITIES}
        class={ICON_CLASS}
      />
      <span class="font-bold">Elevation gain:</span>
      {entry.data.elevationGainM}m
    </div>
  </div>
  <Content />
</Layout>
